.row{
    border: 1px solid black;
}


nav{
    background-color: darkslategrey;
    height: 50px;
}

nav > .row{
    height: 100%;
}

.aqua-bg{
    background-color: aquamarine;
}

header > .row{
    height: 100%;
}

.header-content-row{
    height: 25%;
}

.imgs{
    height: 500px;
}

.imgs div{
    border: 1px solid black;
}