/* Colors */

.darkgray-bg{
    background-color: rgb(44, 62, 80);
}

.aqua-bg{
    background-color: rgb(26, 188, 156);
}

.darkblue-bg{
    background-color: rgb(58,84,109);
}

/* Nav */

#navbar .navbar-toggler-icon{
    opacity: 1;
    filter: invert(1);
}

#navbar .navbar-toggler{
    border-color: white;
}

/* Header */

header{
    padding: 50px 0;
}

/* Star */

.star-side-line hr{
    width: 100%;
    border-radius: 2px;
    opacity: 0.8;
}

.star-side-line-black hr{
    border: 3px solid black;
}

.star-side-line-white hr{
    border: 3px solid white;
}

/* MAIN */

/* Main First Section*/

#images{
    margin-top: 40px;
    margin-bottom: 40px;
}

.imgs img{
    max-width: 100%;
    max-height: 100%;
}

/* Main Second Section */

#about{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px 0;
}

#about .btn-outline-primary {
    color: white;
    border-color: white;
}

/* Main Third Section */

#contact .form-control{
    border: none;
}

#contact textarea{
    padding-left: 0;
}

#contact .send{
    margin: 15px 0;
    background-color: rgb(26, 188, 156);
    border: none;
}